{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="container-fluid">
    <div class="row ">
        <div class="col-md-6">
            <h2 style="text-align:center;text-decoration:underline 2px;">Pending Orders</h2>
            <div class="row">
                {% for pending_order in pending_orders %}
        <div class="col-md-6 order">
            {% if pending_order %}
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{pending_order.item_name}}</h5>
                  <p class="card-text">Order NO.= {{pending_order.id}} 
                      <br> Order Date: {{pending_order.Date_of_order|date:"Y-m-d" }}
                  </p>
                  <a href="{% url 'dispatch' pending_order.id %}" class="btn btn-primary">Dispatch</a>
                </div>
              </div>
              {% else %}
              <h3> NO pending orders available</h3>
              {% endif %}
        </div>
        {% endfor %}
            </div>
        </div>
        <div class="col-md-6">
            <h2 style="text-align:center;text-decoration:underline 2px;">Dispatched Orders</h2>

            <div class="row">
                {% for dispached_order in dispached_orders %}
        <div class="col-md-6 order">
            {% if dispached_order %}
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{dispached_order.item_name}}</h5>
                  <p class="card-text">Order NO.= {{dispached_order.id}} 
                      <br> Order Date: {{dispached_order.Date_of_order|date:"Y-m-d" }}
                  </p>
                  <a href="#" class="btn btn-inactive">Dispatch</a>
                </div>
              </div>
              {% else %}
              <h3> NO dispatched orders available</h3>
              {% endif %}
        </div>
        {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}